{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="ui grid">
        <div class="10 wide column">
            <p>Please check your email for instrutions oh how to reset your password. </p>
                <a href="{% url 'account_login' %}" class="ui button secondary">Back to login page</a>
        </div>

    </div>
{% endblock %}
